# Python
__pycache__/
*.py[cod]
*$py.class
*.log
venv/
.env

# IDE settings
.idea/
.vscode/

# Project Data (Local user data)
# in data folder, ignore invetory.db, app.log, stats.json
data/inventory.db
data/app.log
data/stats.json

data/scans/
!data/scans/.gitkeep
data/cache/
!data/cache/.gitkeep

# Downloaded Models 
# We KEEP 'best.pt' but ignore generic downloads
# drop .pt files except best.pt  in data/models/
data/models/*.pt
!data/models/best.pt

# Training files in dataset
dataset/

# Training Runs (Heavy logs)
runs/

# Testing junk
*.jpg
*.png