# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.idea/
.vscode/

# Database
*.db
*.sqlite3

# Heavy local models
*.pt
*.onnx
data/models/*.pt

# Local Media
*.jpg
*.png
*.mp4
*.csv

# Ignore the runs folder
runs/

# Ignore the contents of dataset/formatted except for the .gitkeep file
dataset/formatted/*
!dataset/formatted/.gitkeep

# Ignore the dataset/raw_images except for the .gitkeep file
dataset/raw_images/*
!dataset/raw_images/.gitkeep

